<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.4.dtd">
<plist version="1.0">
<dict>
    <key>com.apple.private.security.no-sandbox</key>
    <true/>
    <key>platform-application</key>
    <true/>
    <key>com.apple.private.persona-mgmt</key>
    <true/>
    <key>com.apple.private.audit.token</key>
    <true/>
    <key>com.apple.private.iokit.nvram-get</key>
    <true/>
    <key>com.apple.private.iokit.nvram-set</key>
    <true/>
    <key>com.apple.private.iokit.nvram-delete</key>
    <true/>
    <key>keychain-access-groups</key>
    <array>
        <string>*</string>
    </array>
</dict>
</plist>